{% extends 'base.html.twig' %}

{% block title %}Entreprise: {{ entreprise.raisonSociale }}{% endblock %}

{% block body %}

    <h1>Entreprise: {{ entreprise.raisonSociale }}</h1>

    {# previousPage JS plutot car cette page peut venir de listEmploye ou de globalListEmploye #}
    <input id="previousPageBtn" action="action" onclick="window.history.go(-1); return false;" type="submit" value="Retour" />
    <br>

    {# Infos entreprise #}
    <h2>Infos</h2>
    <p>Année de création: {{ entreprise.dateCreation | date('Y') }}</p>
    <p>Adresse: {{ entreprise.adresse }}, {{ entreprise.cp }} {{ entreprise.ville }} </p>

    {# TO DO: AJOUTER ICI LA LISTE DES EMPLOYES et maj redirections/routes #}
    <h2>Liste des employés</h2>
    {% for employe in employesArray  %}
        <a href="{{ path('app_employeDetail', {'id': employe.id}) }}">{{ employe.prenom }} {{ employe.nom | upper }}</a>
        <br>
    {% endfor %}


{% endblock %}
