{% extends 'base.html.twig' %}

{% block title %}Toutes les entreprises{% endblock %}

{% block body %}

    <h1>Liste globale de toutes les entreprises</h1>

    <a class="btn btn-primary" href="{{ path('app_accueil') }}">Retour</a>

    <br><br>
    <a class="btn btn-primary" href="{{ path('app_addEntreprise') }}">Ajouter une entreprise</a>
    <br><br>


    {% for entreprise in entreprisesArray  %}

        <a href="{{ path('app_entrepriseDetail', {'id': entreprise.id}) }}">{{ entreprise.raisonSociale }}</a>
        <a class="btn btn-warning" href="{{ path('app_editEntreprise', {'id': entreprise.id}) }}">Éditer</a>
        <a class="btn btn-danger" href="{{ path('app_deleteEntreprise', {'id': entreprise.id}) }}">Supprimer</a>
        <br>

    {% endfor %}

{% endblock %}
