{% extends 'base.html.twig' %}

{% block title %}Tout les employés{% endblock %}

{% block body %}

    <h1>Liste globale de tout les employés</h1>

    <a class="btn btn-primary" href="{{ path('app_accueil') }}">Retour</a>

    <br><br>
    <a class="btn btn-primary" href="{{ path('app_addEmploye') }}">Ajouter un employé</a>
    <br><br>

    {% for employe in employesArray  %}
        <a href="/employeDetail/{{ employe.id }}">{{ employe.prenom }} {{ employe.nom | upper }}</a>
        <br>
    {% endfor %}

{% endblock %}
